h1 {
    color: red;
    text-align: center;

}

body {
    background-color: lightgray;
}

p {
    font-size: 20px;
    background-color: lightblue;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

img {
  border: 2px solid black;
}

.resaltar {
    color: green;
}


